<app-zippy title="Ma collection de loutre" manager="Romain" [isContentVisible]="true" [clickCount]="clickCountPerAnimal.otter" (titleClicked)="updateClickCount('otter')" >
    <ng-container>
        <p>
            La loutre de chantier
        </p>
        <p>
            La loutre clean code
        </p>
        <button>
            Abonnez vous aux loutres
        </button>
    </ng-container>
</app-zippy>
<app-zippy title="Ma collection de bébé chauve-souris" manager="Cristophe" [clickCount]="clickCountPerAnimal.bat" (titleClicked)="updateClickCount('bat')">
    <ng-container>
        <p>
            coucou
        </p>
    </ng-container>
</app-zippy>

<app-post-card postTitle="Mon nouveau title" (clickTitle)="handleClickTitle($event)">
    <ng-container class="content">
        <span>Mon contenu magique</span>
    </ng-container>
</app-post-card>


<ng-template #coffee>
    <pre>
        (   ) )
         ) ( (
    mrf_______)_
    .-'---------|  
   ( C|/\/\/\/\/|
    '-./\/\/\/\/|
      '_________'
       '-------'
    </pre>
</ng-template>

<ng-template #board>
    J'ai pas trouvé d'ascii art
    pour représenter un tableau, désolé
</ng-template>

<div *ngIf=" 1 === 1 then coffee else board">
    Ce texte ne sera jamais affiché. 
    Vous pouvez écrire n'importe quoi !
</div>

